body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(36, 0, 35);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 35, 1) 0%,
    rgba(121, 9, 117, 0.958420868347339) 0%,
    rgba(0, 146, 255, 0.9528186274509804) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
